@inject IWorkspaceService _workspaceService
@inject NavigationManager _navigationManager

<h3>storyscript.xml</h3>
<div class="tab">
    <button style="@(tab1?"background-color:#808080;color:white;":"")" @onclick="(x => DisplayTab(1))">Story Parts (@_workspaceService.WorkClass.StoryScript.StoryParts.Count)</button>
    <button style="@(tab2?"background-color:#808080;color:white;":"")" @onclick="(x => DisplayTab(2))">Question Parts (@_workspaceService.WorkClass.StoryScript.QuizParts.Count)</button>
    <button style="@(tab3?"background-color:#808080;color:white;":"")" @onclick="(x => DisplayTab(3))">Story Menu (@_workspaceService.WorkClass.StoryScript.StoryMenuParts.Count)</button>
    <button style="@(tab4?"background-color:#808080;color:white;":"")" @onclick="(x => DisplayTab(4))">Story Observer (@_workspaceService.WorkClass.StoryScript.StoryObserverParts.Count)</button>

</div>
@if (tab1)
{
    <div class="tabcontent">
        <StoryPartComponent Notify="NotifyAboutChanges"></StoryPartComponent>
    </div>
}
@if (tab2)
{
    <div class="tabcontent">
        <QuizPartComponent Notify="NotifyAboutChanges"></QuizPartComponent>
    </div>
}
@if (tab3)
{
    <div class="tabcontent">
        <StoryMenuPartComponent Notify="NotifyAboutChanges"></StoryMenuPartComponent>
    </div>
}
@if (tab4)
{
    <div class="tabcontent">
        <StoryObserverPartComponent Notify="NotifyAboutChanges"></StoryObserverPartComponent>
    </div>
}



@code {
    private bool tab1 = true;
    private bool tab2 = false;
    private bool tab3 = false;
    private bool tab4 = false;

    public void DisplayTab(int TabNumber)
    {
        switch (TabNumber)
        {
            case 1:
                this.tab1 = true;
                this.tab2 = false;
                this.tab3 = false;
                this.tab4 = false;
                break;
            case 2:
                this.tab1 = false;
                this.tab2 = true;
                this.tab3 = false;
                this.tab4 = false;
                break;
            case 3:
                this.tab1 = false;
                this.tab2 = false;
                this.tab3 = true;
                this.tab4 = false;
                break;
            case 4:
                this.tab1 = false;
                this.tab2 = false;
                this.tab3 = false;
                this.tab4 = true;
                break;
        }
    }

    void NotifyAboutChanges()
    {
        StateHasChanged();
    }
}
